.summary-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  .summary-table th,
  .summary-table td {
    padding: 10px;
    border: 2px solid #146c7c;
    text-align: center;
  }
  
  .summary-table th {
    background-color: #091b32;
    color: white;
  }
  
  .summary-table td {
    background-color: #ffffff;
    color: #000000;
  }

  /* nav */

.heading {
    text-align: center;
    padding: 10px; 
    color: #000000;
    background-color: #b8b8b8;

    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    font-size: 50px;
  }

body, nav, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;

    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 15px;
  }
  
  /* Basic styles for the navigation bar */
  nav {
    background-color: #f6f6f63a;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    padding: 10px;

  }
  
  .navigation li {
    margin-right: 15px;
    padding:5px 10px;
    border: solid 1px black;
  }
  
  .navigation li a {
    color: black;
    text-decoration: none;
  }

  .navigation li a:hover {
    color: rgb(30, 208, 175);
    text-decoration: none;
  }