/* body */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

    
   -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

body , html {
    overflow-x:hidden;
}                       

/* navigation bar */

* {
  box-sizing: border-box;
}

nav .nav-content {
  
  background-color: rgb(14, 14, 14);
  overflow: hidden;
  
}

nav .nav-content header h2{
  float: right;
  color: rgb(170, 190, 208);
  padding:5px;
  margin-right: 20px;
  font-family: 'Kaushan Script', cursive;
font-size: 25px;
display: block;
}

  
  

  
    nav .nav-content a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  

  
  
   nav .nav-content a:hover, .dropdown:hover .dropbtn {
    background-color: #324250;
  }

  nav .nav-content .dropdown {
    float: left;
    overflow: hidden;
  }

  nav .nav-content .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  nav .nav-content .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fafafae5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  nav .nav-content .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  nav .nav-content .dropdown-content a:hover {
    background-color: #9a9a9a;
  }
  
  nav .nav-content .dropdown:hover .dropdown-content {
    display: block;
  }

  @media (max-width:600px) {
    
    .nav .nav-content header h2{
      display: none;
      
    }

    nav .nav-content a {
      float: none;
    width: 100%;
    align-items: center;
    text-align: center;
    
    }
    

  }
    
  
  /*background image*/
  * {
    box-sizing: cover;
  }
  

  body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color: rgba(251, 245, 235, 0.966);
  }


  .container {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding:0;
  }
  
  .container img {
    vertical-align: middle;
    height: 700px;
    padding:0;
    

}
  
  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  /* about us */
  section {
width: 90% ;
margin:80px auto;

  }

  .title {
    text-align:center;
    text-decoration: underline;
    letter-spacing: 2px;
    font-size:4vmin;
    color:#191235
  
  }
 
  .row {
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
    
    

    
  }

  .row .col {
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  .row .col img {
    width: 400px;
    height: 300px;
    border-radius: 15px 50px 30px;
    margin-right: 10px;
    
    
        
    }
        
         
  

  .about .row {
 margin-top: 50px;
  }
   h4{
    font-size:3vmin;
    color:rgb(7, 7, 49);
    margin: 20px auto;
    
    
   }

   .about .p{
    color:rgb(0, 0, 0);
    padding:0px 40px;
   }

   .row .col ul li{
    list-style:circle;
    
   }

   .row .col ol li{
    list-style: visible;
   margin-left: 70px;
   
   }

   .about .ctn {
    margin-top: 30px;
   }

   .row .col p{
    text-align: center;
    display: flex;
    align-items: center;
    width:325px;
    line-height: 24px;
   }

   

   

  

  /*media query*/
  

@media screen and (max-width:1290px)
{

  .container {
    position: relative;
    width: 100%;
    margin: 0;
    padding:0;
    height:auto;
    
  }

  .container img {
    vertical-align: middle;
    height: 300px;
    padding:0;
    

}
  
  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 97%;
    padding:5px;
    font-size: 10px;
  }


  section {
    width: 90% ;
    margin:80px auto;
    
      }
    
      .title {
        text-align:center;
        text-decoration: underline;
        letter-spacing: 2px;
        font-size:4vmin;
        color:#191235
      
      }
     
      .row {
        display: flex;
        align-items:center;
        width: 100%;
        justify-content: space-between;
       flex-direction: column;
       
        
        
    
        
      }
    
      .row .col {
        display:flex;
        flex-direction:column;
        align-items:center;
      }
      .row .col img {
        width: 400px;
        height: 300px;
        border-radius: 15px 50px 30px;
        margin-right: 10px;
        
        
            
        }
            
             
      
    
      .about .row {
     margin-top: 50px;
      }
       h4{
        font-size:20px;
        color:rgb(7, 7, 49);
        margin: 20px auto;
        
        
       }
    
       .about .p{
        color:rgb(3, 3, 3);
        padding:0px 40px;
        font-size: 10px;
       }
    
       .about .ctn {
        margin-top: 30px;
       }
    
       .row .col p{
        text-align: center;
        display: flex;
        align-items: center;
        width:325px;
        line-height: 24px;
        font-size: 15px;
        margin-bottom: 20px;
       }
    
       

}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgba(119, 117, 117, 0.599);
  
  
  height:150px
  
}
footer .nav-footer ul{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

footer .nav-footer ul a{
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

footer .nav-footer ul a:hover{
  color: aliceblue;
}

footer .contact p{
  text-align: center;
  color: #000000;
  
}

footer .copyright{
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 100px;
  color: #000000;
}

@media (max-width:1120px) {
  footer{
    height:170px
  }
  footer .nav-footer ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  
  }
  }

  @media (max-width:736px) {
    footer{
      height:300px
    }
    footer .nav-footer ul{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    
    }

    footer .nav-footer ul{
      display:flex;
      flex-wrap: wrap;
      line-height: 40px;
      flex-direction: row;
      justify-content: space-between;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    }

  